<a href="https://colab.research.google.com/github/mohammedirfan78698/PDS_B15_1997_/blob/main/Lab_5_B15_1997.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd

students = pd.DataFrame({
    "student_id": [1, 2, 3, 4, 5],
    "name": ["Alice", "Bob", "Charlie", "David", "Eva"],
    "class": ["A", "B", "A", "B", "A"]
})

scores = pd.DataFrame({
    "student_id": [1, 2, 3, 6],
    "math": [85, 90, 78, 88],
    "science": [92, 87, 85, 80]
})

inner_join = pd.merge(students, scores, on="student_id", how="inner")

left_join = pd.merge(students, scores, on="student_id", how="left")

right_join = pd.merge(students, scores, on="student_id", how="right")

agg_stats = inner_join[["math", "science"]].agg(["mean", "max", "min", "count"])

grouped_stats = inner_join.groupby("class")[["math", "science"]].mean()

print("=== Inner Join ===\n", inner_join)
print("\n=== Left Join ===\n", left_join)
print("\n=== Right Join ===\n", right_join)
print("\n=== Aggregate Stats ===\n", agg_stats)
print("\n=== Grouped Stats by Class ===\n", grouped_stats)

=== Inner Join ===
    student_id     name class  math  science
0           1    Alice     A    85       92
1           2      Bob     B    90       87
2           3  Charlie     A    78       85

=== Left Join ===
    student_id     name class  math  science
0           1    Alice     A  85.0     92.0
1           2      Bob     B  90.0     87.0
2           3  Charlie     A  78.0     85.0
3           4    David     B   NaN      NaN
4           5      Eva     A   NaN      NaN

=== Right Join ===
    student_id     name class  math  science
0           1    Alice     A    85       92
1           2      Bob     B    90       87
2           3  Charlie     A    78       85
3           6      NaN   NaN    88       80

=== Aggregate Stats ===
             math  science
mean   84.333333     88.0
max    90.000000     92.0
min    78.000000     85.0
count   3.000000      3.0

=== Grouped Stats by Class ===
        math  science
class
A      81.5     88.5
B      90.0     87.0

In [3]:
import pandas as pd

customers = pd.read_csv("customers.csv")
sales = pd.read_csv("sales.csv")

inner_join = pd.merge(customers, sales, on="customer_id", how="inner")

left_join = pd.merge(customers, sales, on="customer_id", how="left")

total_sales = sales["amount"].sum()
mean_sales = sales["amount"].mean()
sales_per_customer = sales.groupby("customer_id")["amount"].sum()

region_sales = inner_join.groupby("region")["amount"].agg(["sum", "mean", "max", "min"])

print("=== Inner Join ===\n", inner_join)
print("\n=== Left Join ===\n", left_join)
print("\n=== Total Sales ===", total_sales)
print("\n=== Mean Sales ===", mean_sales)
print("\n=== Sales Per Customer ===\n", sales_per_customer)
print("\n=== Region-wise Sales Stats ===\n", region_sales)

=== Inner Join ===
    customer_id     name region  sale_id  amount
0            1    Alice  North      101     500
1            1    Alice  North      103     300
2            2      Bob  South      102     700
3            2      Bob  South      106     200
4            3  Charlie   East      104     400
5            5      Eva  North      105     600

=== Left Join ===
    customer_id     name region  sale_id  amount
0            1    Alice  North    101.0   500.0
1            1    Alice  North    103.0   300.0
2            2      Bob  South    102.0   700.0
3            2      Bob  South    106.0   200.0
4            3  Charlie   East    104.0   400.0
5            4    David   West      NaN     NaN
6            5      Eva  North    105.0   600.0

=== Total Sales === 2700

=== Mean Sales === 450.0

=== Sales Per Customer ===
 customer_id
1    800
2    900
3    400
5    600
Name: amount, dtype: int64

=== Region-wise Sales Stats ===
          sum        mean  max  min
region
East     400  400.000000  400  400
North   1400  466.666667  600  300
South    900  450.000000  700  200